 <div id="wrapper">

    <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <img alt="image" class="rounded-circle" src="img/logo2.png" heigth="140px" width="180px"/>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="block m-t-xs font-bold" >Usuario</span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a class="dropdown-item" href="index.html#/login">Sair</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
                <li>
                    <a href="index.html#/anuncios"><i class="fa fa-clock-o"></i> <span class="nav-label">Anuncios Recentes</span></a>
                </li>
                <li>
                    <a href="index.html#/inserirInfoPessoal"><i class="fa fa-user-circle"></i> <span class="nav-label">Cadastrar/Alterar Dados</span></a>
                </li>
                <li>
                    <a href="index.html#/inserirPeca"><i class="fa fa-plus-circle"></i> <span class="nav-label">Cadastrar Peça</span></a>
                </li>
                <li>
                    <a href="index.html#/inserirAnuncio"><i class="fa fa-car"></i> <span class="nav-label">Novo Anuncio</span></a>
                </li>
                 <li>
                    <a href="index.html#/buscar"><i class="fa fa-search"></i> <span class="nav-label">Buscar Anúncio</span></a>
                </li>
                <li>
                    <a href="index.html#/inserirVeiculo"><i class="fa fa-plus-circle"></i> <span class="nav-label">Cadastrar Veículo</span></a>
                </li>
                                <li>
                <a href="index.html#/meuRegistro"><i class="fa fa-list"></i> <span class="nav-label">Meus registros</span></a>
                </li>
            </ul>

        </div>
    </nav>

        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        
            <ul class="nav navbar-top-links navbar-right">
                

                <li>
                    <a href="index.html#/login">
                        <i class="fa fa-sign-out"></i> Sair
                    </a>
                </li>
            </ul>

        </nav>
        </div>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <ol class="breadcrumb">
            <li>
                <a href="index.html#/anuncios">Home</a>
            </li>
            <li class="active">
                <strong>Cadastrar novo Veículo</strong>
            </li>
        </ol>
                <h1 class="logo-name ">Cadastrar Veículo</h1>

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight ecommerce">

    <div class="row">
        <div class="col-lg-12" ng-controller="VeiculoCtrl">

            <div class="tabs-container">
                <fieldset class="form-horizontal">
                <uib-tabset >
                    <uib-tab >
                        <uib-tab-heading>
                            Dados da Peça
                        </uib-tab-heading>
                        <div class="panel-body">

                            <fieldset class="form-horizontal">
                                
                                <div class="form-group"><label class="col-sm-2 control-label">Categoria:</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" ng-model="veiculo.categoria">
                                            <option selected>Selecionar</option>
                                            <option>Veículos</option>
                                            <option>Utilitário</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Marca:</label>
                                    <div class="col-sm-10">
                                        <select class="form-control"ng-model="veiculo.marca" >
                                            <option selected>Selecionar</option>
                                            <option>Fiat</option>
                                            <option>Cherolet - GM</option>
                                            <option>Volkswagen</option>
                                            <option>Toyota</option>
                                            <option>Honda</option>
                                            <option>Renault</option>
                                            <option>Ford</option>
                                            <option>Peugeot</option>
                                            <option>Nissan</option>
                                            <option>Hiunday</option>[
                                            <option>Citroen</option>
                                            <option>BMW</option>
                                            <option>Audi</option>
                                            <option>Land Rover</option>
                                            <option>Mercedes-Benz</option>
                                            <option>Mitsubishi</option>
                                            <option>Suzuki</option>
                                            <option>Volvo</option>
                                            <option>Alfa Romeo</option>
                                            <option>Chery</option>
                                            <option>JAC</option>
                                            <option>Adamo</option>
                                            <option>Agrale</option>
                                            <option>Avallone</option>
                                            <option>Bianco</option>
                                            <option>Cross Lander</option>
                                            <option>DKW - Vemag</option>
                                            <option>Dodge</option>
                                            <option>Envemo</option>
                                            <option>FNM</option>
                                            <option>GMC</option>
                                            <option>Gurgel</option>
                                            <option>Jeep</option>
                                            <option>JPX</option>
                                            <option>Lobini</option>
                                            <option>Mahindra</option>
                                            <option>Mini</option>
                                            <option>Puma</option>
                                            <option>Santa Matilde</option>
                                            <option>Troller</option>
                                            <option>Willys</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Modelo:</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" ng-model="veiculo.modelo">
                                            <option selected>Selecionar</option>
                                            <option>...</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label" >Versão:</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" ng-model="veiculo.versao">
                                            <option selected>Selecionar</option>
                                            <option>...</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Ano Fabricação:</label>
                                    <div class="col-sm-10"><select class="form-control" ng-model="veiculo.anoFabricacao">
                                                               <option selected>Selecionar</option>
                                                               <option>2018</option>
                                                                <option>2017</option>
                                                                <option>2016</option>
                                                                <option>2015</option>
                                                                <option>2014</option>
                                                                <option>2013</option>
                                                                <option>2012</option>
                                                                <option>2011</option>
                                                                <option>2010</option>
                                                                <option>2009</option>
                                                                <option>2008</option>
                                                                <option>2007</option>
                                                                <option>2006</option>
                                                                <option>2005</option>
                                                                <option>2004</option>
                                                                <option>2003</option>
                                                                <option>2002</option>
                                                                <option>2001</option>
                                                                <option>2000</option>
                                                                <option>1999</option>
                                                                <option>1998</option>
                                                                <option>1997</option>
                                                                <option>1996</option>
                                                                <option>1995</option>
                                                                <option>1994</option>
                                                                <option>1993</option>
                                                                <option>1992</option>
                                                                <option>1991</option>
                                                                <option>1990</option>
                                                                <option>1989</option>
                                                                <option>1988</option>
                                                                <option>1987</option>
                                                                <option>1986</option>
                                                                <option>1985</option>
                                                                <option>1984</option>
                                                                <option>1983</option>
                                                                <option>1982</option>
                                                                <option>1981</option>
                                                                <option>1980</option>
                                                                <option>1979</option>
                                                                <option>1978</option>
                                                                <option>1977</option>
                                                                <option>1976</option>
                                                                <option>1975</option>
                                                                <option>1974</option>
                                                                <option>1973</option>
                                                                <option>1972</option>
                                                                <option>1971</option>
                                                                <option>1970</option>
                                                                <option>1969</option>
                                                                <option>1968</option>
                                                                <option>1967</option>
                                                                <option>1966</option>
                                                                <option>1965</option>
                                                                <option>1964</option>
                                                                <option>1963</option>
                                                                <option>1962</option>
                                                                <option>1961</option>
                                                                <option>1960</option>
                                                                <option>1959</option>
                                                                <option>1958</option>
                                                                <option>1957</option>
                                                                <option>1956</option>
                                                                <option>1955</option>
                                                                <option>1954</option>
                                                                <option>1953</option>
                                                                <option>1952</option>
                                                                <option>1951</option>
                                                                <option>1950</option>

                                                            </select>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Ano Modelo:</label>
                                    <div class="col-sm-10"><select class="form-control" ng-model="veiculo.anoModelo">
                                                               <option selected>Selecionar</option>
                                                               <option>2018</option>
                                                                <option>2017</option>
                                                                <option>2016</option>
                                                                <option>2015</option>
                                                                <option>2014</option>
                                                                <option>2013</option>
                                                                <option>2012</option>
                                                                <option>2011</option>
                                                                <option>2010</option>
                                                                <option>2009</option>
                                                                <option>2008</option>
                                                                <option>2007</option>
                                                                <option>2006</option>
                                                                <option>2005</option>
                                                                <option>2004</option>
                                                                <option>2003</option>
                                                                <option>2002</option>
                                                                <option>2001</option>
                                                                <option>2000</option>
                                                                <option>1999</option>
                                                                <option>1998</option>
                                                                <option>1997</option>
                                                                <option>1996</option>
                                                                <option>1995</option>
                                                                <option>1994</option>
                                                                <option>1993</option>
                                                                <option>1992</option>
                                                                <option>1991</option>
                                                                <option>1990</option>
                                                                <option>1989</option>
                                                                <option>1988</option>
                                                                <option>1987</option>
                                                                <option>1986</option>
                                                                <option>1985</option>
                                                                <option>1984</option>
                                                                <option>1983</option>
                                                                <option>1982</option>
                                                                <option>1981</option>
                                                                <option>1980</option>
                                                                <option>1979</option>
                                                                <option>1978</option>
                                                                <option>1977</option>
                                                                <option>1976</option>
                                                                <option>1975</option>
                                                                <option>1974</option>
                                                                <option>1973</option>
                                                                <option>1972</option>
                                                                <option>1971</option>
                                                                <option>1970</option>
                                                                <option>1969</option>
                                                                <option>1968</option>
                                                                <option>1967</option>
                                                                <option>1966</option>
                                                                <option>1965</option>
                                                                <option>1964</option>
                                                                <option>1963</option>
                                                                <option>1962</option>
                                                                <option>1961</option>
                                                                <option>1960</option>
                                                                <option>1959</option>
                                                                <option>1958</option>
                                                                <option>1957</option>
                                                                <option>1956</option>
                                                                <option>1955</option>
                                                                <option>1954</option>
                                                                <option>1953</option>
                                                                <option>1952</option>
                                                                <option>1951</option>
                                                                <option>1950</option>

                                                            </select>
                                    </div>
                                </div>
                                
                                <div class="form-group"><label class="col-sm-2 control-label">Combustível:</label>
                                    <div class="col-sm-10"><select class="form-control" ng-model="veiculo.combustivel">
                                                               <option selected>Selecionar</option>
                                                               <option>Gasolina</option>
                                                               <option>Alcool</option>
                                                               <option>Flex</option>
                                                               <option>Metanol</option>
                                                            </select>
                                    </div>
                                </div>
                                
                                <div class="form-group"><label class="col-sm-2 control-label">Portas:</label>
                                    <div class="col-sm-10"><select class="form-control" ng-model="veiculo.portas">
                                                               <option selected>Selecionar</option>
                                                               <option>3</option>
                                                               <option>4</option>
                                                               <option>5</option>
                                                            </select>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Cambio:</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" ng-model="veiculo.cambio">
                                            <option selected>Selecionar</option>
                                            <option>Manual</option>
                                            <option>Automático</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Potência:</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="Ex: 2.0" ng-model="veiculo.potencia"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Kilometragem:</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="000.000" ng-model="veiculo.kilometragem"></div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Cor:</label>
                                    <div class="col-sm-10"><select class="form-control" ng-model="veiculo.cor">
                                                               <option selected>Selecionar</option>
                                                                <option>Branco</option>
                                                                <option>Azul</option> 
                                                                <option>Preto</option> 
                                                                <option>Prata</option> 
                                                                <option>Vermelho</option> 
                                                                <option>Amarelo</option> 
                                                                <option>Cinza</option> 
                                                                <option>Laranja</option> 
                                                                <option>Verde</option> 
                                                                <option>Marrom</option> 
                                                                <option>Bege</option> 
                                                                <option>Rosa</option> 
                                                                <option>Dourado</option> 
                                                                <option>Champanhe</option>
                                                            </select>
                               </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Caracteristicas:</label>
                                <div class="col-sm-10">Antigo  <input type="checkbox" ng-model="veiculo.caracteristica"> 
                                </div>
                                <div class="col-sm-10">Esportivo  <input type="checkbox" ng-model="veiculo.caracteristica"> 
                                </div>
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">Preparado  <input type="checkbox" ng-model="veiculo.caracteristica"> 
                                </div>
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">Importado  <input type="checkbox" ng-model="veiculo.caracteristica"> 
                                </div>
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">Exótico  <input type="checkbox" ng-model="veiculo.caracteristica"> 
                                </div>
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">Superespotivo  <input type="checkbox" ng-model="veiculo.caracteristica"> 
                                </div>
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">Luxo  <input type="checkbox" ng-model="veiculo.caracteristica"> 
                                </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Placa:</label>
                                    <div class="col-sm-10"><input type="text" class="form-control" placeholder="AAA-000" ng-model="veiculo.placa">
                                </div>
                                </div>
                                <div class="form-group"><label class="col-sm-2 control-label">Tornar placa vísivel?</label>
                                    <div class="col-sm-10">Sim <input type="checkbox" ng-model="veiculo.visibilidadePlaca"> 
                                </div>
                                </div>
                              
                                </div>
                            </fieldset>
                            <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="button" ng-click="cadastrar()">Salvar</button>
                            </div>
                        </div>
                        </div>
                    </uib-tab>
                   </uib-tabset>
               </div>
            </div>


        </div>
    </div>

</div>