 <div id="wrapper">

      <nav class="navbar-default navbar-static-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav metismenu" id="side-menu">
                <li class="nav-header">
                    <div class="dropdown profile-element">
                        <img alt="image" class="rounded-circle" src="img/logo2.png" heigth="140px" width="180px"/>
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="block m-t-xs font-bold" >Usuario</span>
                        </a>
                        <ul class="dropdown-menu animated fadeInRight m-t-xs">
                            <li><a class="dropdown-item" href="index.html#/login">Sair</a></li>
                        </ul>
                    </div>
                    <div class="logo-element">
                        IN+
                    </div>
                </li>
                <li>
                    <a href="index.html#/anuncios"><i class="fa fa-clock-o"></i> <span class="nav-label">Anuncios Recentes</span></a>
                </li>
                <li>
                    <a href="index.html#/inserirInfoPessoal"><i class="fa fa-user-circle"></i> <span class="nav-label">Cadastrar/Alterar Dados</span></a>
                </li>
                <li>
                    <a href="index.html#/inserirPeca"><i class="fa fa-plus-circle"></i> <span class="nav-label">Cadastrar Peça</span></a>
                </li>
                <li>
                    <a href="index.html#/inserirAnuncio"><i class="fa fa-car"></i> <span class="nav-label">Novo Anuncio</span></a>
                </li>
                 <li>
                    <a href="index.html#/buscar"><i class="fa fa-search"></i> <span class="nav-label">Buscar Anúncio</span></a>
                </li>
                <li>
                    <a href="index.html#/inserirVeiculo"><i class="fa fa-plus-circle"></i> <span class="nav-label">Cadastrar Veículo</span></a>
                </li>
                                <li>
                <a href="index.html#/meuRegistro"><i class="fa fa-list"></i> <span class="nav-label">Meus registros</span></a>
                </li>
            </ul>

        </div>
    </nav>

        <div id="page-wrapper" class="gray-bg">
        <div class="row border-bottom">
        <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        
            <ul class="nav navbar-top-links navbar-right">
                

                <li>
                    <a href="index.html#/login">
                        <i class="fa fa-sign-out"></i> Sair
                    </a>
                </li>
            </ul>

        </nav>
        </div>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h1 class="logo-name ">Cadastrar Dados</h1>
        <ol class="breadcrumb">
            <li>
                <a href="index.html#/anuncios">Home</a>
            </li>
            <li class="active">
                <strong>Cadastrar Dados</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>


        
    <div class="row" ng-controller="PessoaCtrl">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Cadastro :
                        <small>Cadastre seus dados abaixo para poder inserir anúncios</small>
                    </h5>
                   
                </div>
                <div class="ibox-content">
                    <form method="get" class="form-horizontal">
                       <div class="form-group" ng-init="buscar()"><label class="col-sm-2 control-label"><span style="color: red;">*</span>  Nome</label>

                           <div class="col-sm-10"><input type="text" ng-model="pessoa.nome" placeholder="Informe seu nome e sobrenome" class="form-control" required="true">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label"><span style="color: red;">*</span>  CPF</label>

                            <div class="col-sm-10"><input type="text" ng-model="pessoa.cpf" placeholder="XXX.XXX.XXX-XX" class="form-control" required="true">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label"><span style="color: red;">*</span>  Data de Nascimento</label>

                            <div class="col-sm-10"><input type="text"  ng-model="pessoa.dataNasc" placeholder="dd/mm/aaaa" class="form-control" required="true">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">  Telefone</label>

                            <div class="col-sm-10"><input type="tel" ng-model="pessoa.telefone" placeholder="(99) 9999-9999" class="form-control">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label"><span style="color: red;">*</span>  Celular</label>

                            <div class="col-sm-10"><input type="tel" ng-model="pessoa.celular" placeholder="(99) 99999-9999" class="form-control" required="true">
                            </div>
                        </div>
                        
                         <div class="hr-line-dashed"></div>
                         <div class="form-group" ><label class="col-sm-2 control-label"><span style="color: red;">*</span>  País</label>

                             <div class="col-sm-10"><select class="form-control m-b" name="pais" ng-model="pessoa.pais" required="true">
                                <option>Brasil</option>
                            
                            </select>

                                
                        </div>
                         </div>
                        <div class="hr-line-dashed"></div>
                        
                        
                         <div class="form-group"><label class="col-sm-2 control-label"> <span style="color: red;">*</span>  Estado</label>

                            <div class="col-sm-10"><select class="form-control m-b" ng-model="pessoa.estado" name="estado" placeholder="Selecione o Estado" required="true"> 
                                <option>Acre </option>
                                <option>Alagoas </option>
                                <option>Amapá </option>
                                <option>Amazonas </option>
                                <option>Bahia </option>
                                <option>Ceará </option>
                                <option>Distrito Federal </option>
                                <option>Espírito Santo </option>
                                <option>Goiás </option>
                                <option>Maranhão </option>
                                <option>Mato Grosso </option>
                                <option>Mato Grosso do Su</option>l 
                                <option>Minas Gerais </option>
                                <option>Pará </option>
                                <option>  Paraíba </option>
                                <option>Paraná </option>
                                <option>Pernambuco </option>
                                <option>Piauí </option>
                                <option>Rio de Janeiro </option>
                                <option>Rio Grande do Norte </option>
                                <option>Rio Grande do Sul</option> 
                                <option>Rondônia </option>
                                <option>Roraima </option>
                                <option>Santa Catarina </option>
                                <option>São Paulo </option>
                                <option>Sergipe </option>
                                <option>Tocantins </option>
                            
                            </select>

                                
                        </div>
                         </div>
                             
                        <div class="hr-line-dashed"></div>
                         <div class="form-group"><label class="col-sm-2 control-label"><span style="color: red;">*</span>  CEP</label>

                            <div class="col-sm-10"><input type="text" ng-model="pessoa.cep" placeholder="99.999-999" class="form-control"required="true">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                         <div class="form-group"><label class="col-sm-2 control-label"><span style="color: red;">*</span>  Cidade</label>

                            <div class="col-sm-10"><input type="text" ng-model="pessoa.cidade" placeholder="Insira aqui a cidade" class="form-control" required="true">
                            </div>
                        </div>
                         <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">  Bairro</label>

                            <div class="col-sm-10"><input type="text" ng-model="pessoa.bairro" placeholder="Insira aqui o bairro " class="form-control">
                            </div>
                        </div>
                         <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label"><span style="color: red;">*</span>  Logradouro</label>

                            <div class="col-sm-10"><input type="text" ng-model="pessoa.logradouro" placeholder="Insira aqui o nome da sua rua" class="form-control" required="true">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label"><span style="color: red;">*</span>  Número</label>

                            <div class="col-sm-10"><input type="text" ng-model="pessoa.numero" placeholder="Insira aqui o número da sua residência" class="form-control" required="true">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">  Complemento</label>

                            <div class="col-sm-10"><input type="text" ng-model="pessoa.complemento" placeholder="Insira aqui o número e bloco do seu apartamento" class="form-control">
                            </div>
                        </div>


                        <div class="hr-line-dashed"></div>
                        
                        
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="button" ng-click="cadastrar()">Salvar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
