<div class="middle-box text-center loginscreen   animated fadeInDown" ng-controller="CadastroCtrl">
    <div>
        <div>

            <h1 class="logo-name">+DG</h1>

        </div>
        <h3>Cadastre - se no DreamGarage</h3>
        <p>Crie sua conta para encontrar o carro do seus sonhos</p>
        
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Nome" required="" ng-model="usuario.pessoa.nome">
            </div>           
            <div class="form-group">
                <input type="text" class="form-control" placeholder="CPF" required="" ng-model="usuario.pessoa.cpf">
            </div>
             <div class="form-group">
                 <input type="text" class="form-control" placeholder="Data de Nascimento" required="" ng-model="usuario.pessoa.dataDeNascimento">
             </div>                    
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Telefone" ng-model="usuario.pessoa.telefone">
            </div>           
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Celular" required="" ng-model="usuario.pessoa.celular">
            </div>           
            <div class="form-group">
                <input type="text" class="form-control" placeholder="CEP" required="" ng-model="usuario.pessoa.cep">
            </div>           
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Endereço" required="" ng-model="usuario.pessoa.logradouro">
            </div>           
            <div class="form-group">
                <input type="number" class="form-control" placeholder="Número" required="" ng-model="usuario.pessoa.numero">
            </div>           
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Complemento" ng-model="usuario.pessoa.complemento">
            </div>           
            <div class="form-group">
                <input type="text" class="form-control" placeholder="País" required="" ng-model="usuario.pessoa.pais">
            </div>           
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Estado" required="" ng-model="usuario.pessoa.estado">
            </div>           
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Cidade" required="" ng-model="usuario.pessoa.cidade">
            </div>           
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Bairro" ng-model="usuario.pessoa.bairro">
            </div>
            
            <h3> Usuário </h3>
            
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Email" required="" ng-model="usuario.login">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Senha" required="" ng-model="usuario.senha">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" placeholder="Repita a Senha" required="" ng-model="repitaSenha">
            </div>
            <div class="form-group">
                <div class="checkbox i-checks"><label> <input type="checkbox"><i></i> Eu concordo com os termos de política de privacidade </label></div>
            </div>
            <button type="submit" class="btn btn-success block full-width m-b" ng-click="cadastrar()">Cadastrar</button>

            <p class="text-center"><small>Já tem uma conta?</small></p>
            <a class="btn btn-sm btn-white btn-block" href="index.html#/login">Entrar</a>
       
        <p class="m-t"> <small>CopyRight TCC Company 2017</small> </p>
    </div>
</div>